*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
    font-family: montserrat;
    margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(241, 205, 87);
}

div.topnav{ 
  background-color: rgb(241, 205, 87);
  padding: 6px;
  margin: 0;
  list-style-type: none;
}

#miau{
  margin:0;
  padding: 0;
  background-color: rgb(241, 205, 87);
  border: 10px;
  border-color: rgb(241, 205, 87);
}

#cat{
  background-color: rgb(241, 205, 87);
  border: 0;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(250, 240, 106)}